asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
boto3==1.17.62
botocore==1.20.62
brotlipy==0.7.0
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi @ file:///C:/ci_310/cffi_1642682485096/work
chardet==4.0.0
charset-normalizer==2.0.12
click @ file:///C:/ci/click_1646056799533/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cryptography==37.0.2
Django @ file:///tmp/build/80754af9/django_1625585912945/work
dnspython==2.1.0
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
gunicorn==20.1.0
h11==0.13.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
jmespath==0.10.0
MarkupSafe @ file:///C:/ci/markupsafe_1654489871526/work
numpy==1.22.3
outcome==1.2.0
packaging==21.0
pandas==1.4.2
pluggy==0.13.1
psycopg2 @ file:///C:/ci/psycopg2_1612298803839/work
py==1.10.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pymongo==3.12.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==2.4.7
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pytest==6.2.4
pytest-flask==1.2.0
pytest-json-report==1.5.0
pytest-metadata==2.0.1
pytest-submit @ git+https://github.com/aib-contents/pytest-submit-plugin@b011236541e17ea63810465e26b6a3d1561818b1
python-dateutil==2.8.1
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
requests==2.28.0
s3transfer==0.4.2
selenium==4.0.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
toml==0.10.2
tomli==2.0.1
trio==0.21.0
trio-websocket==0.9.2
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///C:/ci/urllib3_1650640043075/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
wsproto==1.1.0
zipp==3.8.0
