<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="static/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="static/css/styles.css">

        <title>Responsive Website Travel</title>
    </head>
            <!--==================== DISCOVER ====================-->
            <section class="discover section" id="discover">

                <center>

                    <h1>  명소 정보   </h1>
    
                    <h2> {{d1}} </h2>
                    <h3> {{d2}} </h3>
                    <h3> {{d3}} </h3>
                    <h3> {{d4}} </h3>
    
                    <br><br>
                <a href='/'>돌아가기</a>

                </center>
            </section>
    </html>